<?xml version="1.0"?>
<launch>
  <arg name="robot_ip"/>
  <!-- The ROBOGUIDE simulator uses little endian where as the controller uses big endian so
       the sim argument conveys endianness to the below nodes. -->
  <arg name="sim"/>

  <node name="miso_fanuc_driver" pkg="miso_fanuc" type="miso_fanuc_driver">
    <param name="robot_ip" value="$(arg robot_ip)"/>
  </node>
  <node name="miso_fanuc_hmi" pkg="miso_fanuc" type="miso_fanuc_hmi">
    <param name="robot_ip" value="$(arg robot_ip)"/>
  </node>
</launch>

